@{
    ViewData["Title"] = "My First .netPage";
}

<div class="text-center">
    <h1 class="display-4">Welcome LOL </h1>
    <p>My facbook acount <a  href="https://www.facebook.com/qossay.zeineddin">Facbook</a>.</p>
</div>
